<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Earthquake Website</title>
  </head>
  <body>
        <h1 class="title">Add comment</h1>

        <form action="" method="post" name="movie_edit">

                <div class="field">
                  <label for="id" class="label">Earthquake ID</label>
                  <div class="control">
                    <input type="text" name="id" class="input" required="required"/>
                  </div>
                </div>
          
                <div class="field">
                  <label for="topic" class="label">Topic</label>
                  <div class="control">
                    <input type="text" name="topic" class="input"/>                         
                  </div>
                </div>

                <div class="field">
                   <label for="comment" class="label">Comment</label>
                      <div class="control">
                     <input type="text" name="comment" class="input" required="required"/>                         
                  </div>
                 </div>

          
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-primary is-small">Save</button>
                  </div>
                </div>
              </form>

        
  </body>