{% extends "layout.html" %}
{% block title %}Edit movie{% endblock %}
{% block content %}


        <h1 class="title">Add earthquake</h1>

    <form action="" method="post" name="movie_edit">

      <div class="field">
        <label for="agency" class="label">Agency</label>
        <div class="control">
          <input type="text" name="agency" class="input" required="required"/>
        </div>
      </div>

      <div class="field">
        <label for="date_time" class="label">Date and time</label>
        <div class="control">
          <input type="text" name="date_time" class="input" required="required"/>               
        </div>
      </div>

      <div class="field">
          <label for="latitude" class="label">Latitude</label>
          <div class="control">
            <input type="text" name="latitude" class="input" required="required"/>               
          </div>
        </div>

      <div class="field">
          <label for="longitude" class="label">Longitude</label>
           <div class="control">
            <input type="text" name="longitude" class="input" required="required"/>               
           </div>
         </div>

      <div class="field">
        <label for="depth" class="label">Depth</label>
          <div class="control">
            <input type="text" name="depth" class="input" required="required"/>               
          </div>
         </div>

      <div class="field">
          <label for="rms" class="label">RMS</label>
              <div class="control">
                <input type="text" name="rms" class="input"/>               
              </div>
            </div>

        <div class="field">
          <label for="kind" class="label">Type</label>
            <div class="control">
            <input type="text" name="kind" class="input" required="required"/>               
          </div>
          </div>

          <div class="field">
              <label for="magnitude" class="label">Magnitude</label>
               <div class="control">
                <input type="text" name="magnitude" class="input" required="required"/>               
               </div>
             </div>

        <div class="field">
            <label for="country" class="label">Country</label>
            <div class="control">
              <input type="text" name="country" class="input"/>               
              </div>
            </div>

            <div class="field">
                <label for="city" class="label">City</label>
                 <div class="control">
                  <input type="text" name="city" class="input"/>               
                 </div>
               </div>

               <div class="field">
                  <label for="village" class="label">Village</label>
                   <div class="control">
                    <input type="text" name="village" class="input"/>               
                   </div>
                 </div>

                 <div class="field">
                    <label for="other1" class="label">Other Information 1</label>
                     <div class="control">
                      <input type="text" name="other1" class="input"/>               
                     </div>
                   </div>

                   <div class="field">
                      <label for="other2" class="label">Other Information 2</label>
                       <div class="control">
                        <input type="text" name="other2" class="input"/>               
                       </div>
                     </div>

                     <div class="field">
                        <label for="other3" class="label">Other Information 3</label>
                         <div class="control">
                          <input type="text" name="other3" class="input"/>               
                         </div>
                       </div>     



      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
 


    {% endblock %}
