{% extends "layout.html" %}
{% block title %}Essay list{% endblock %}
{% block content %}
    <h1 class="title">Comments</h1>

    {% if essays %}
    <form action="" method="post" name="essay_list">
      <table class="table is-striped is-fullwidth">
      {% for essay in essays %}
        <tr>
            <td>
              {% if current_user.username == essay[0] or current_user.is_admin %}
              <label class="checkbox" >
                  <input type="checkbox" name="deletes" value="{{ essay[2] }}"/>
              </label>
                {% endif %}
                  {{essay[3]}}
                  {{essay[0]}}
                  {{essay[1]}}
                  {{essay[2]}}
            </td>
        </tr>
      {% endfor %}
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-danger is-small">Delete</button>
        </div>
      </div>
    </table>
  </form>
    {% endif %}
{% endblock %}
