{% extends "layout.html" %}
{% block title %}Essay list{% endblock %}
{% block content %}
    <h1 class="title">Essays</h1>

    {% if essays %}
    <table class="d-inline-block">
      {% for essay in essays %}
        {% for item in essay %}
        <tr class="d-inline-block">
            <td class="d-inline-block">
                <label class="checkbox">
                    <input type="checkbox" name="essay" value="{{ essay }}"/>
                </label>
            {{ item }}
            </td>
        </tr>
        {% endfor %}
      {% endfor %}
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-danger is-small">Delete</button>
        </div>
      </div>
    </table>
    {% endif %}
{% endblock %}
