<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Earthquake Website</title>
    <style>
      .vertical-menu {
        width: 200px;
      }
      
      .vertical-menu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
      }
      
      .vertical-menu a:hover {
        background-color: #ccc;
      }
    </style>      
  </head>
  <body>
    <h1>TODAY: {{ day }}<h1>
    <p>Recent Earthquakessss:{{aaa}}</p>
    <div class="vertical-menu">
        <ul>
      <li><a href="/comments">List comments</a></li>
      <li><a href="/earthquakes">List earthquakes</a> </li>
      <li><a href="/essays">List essays</a> </li>
      <li><a href="/announcements">List announcements</a> </li>
      <li><a href="/makecomment">Add a Comment</a></li>
      <li><a href="/new_earthquake">Add earthquake</a></li>
      <li><a href="/makeessay">Add a essay</a></li>
      <li><a href="/makeannouncement">Add an announcement</a></li>
      <li><a href="/signup">Sign up</a></li>    
      <li><a href="/login">Login page</a> </li>
      <li><a href="/signout">Sign out page</a> </li>
      
      
      

    </ul>
  </div>
  </body>
</html>   
