{% extends "layout.html" %}
{% block title %}Add a essay{% endblock %}
{% block content %}
<style>
  .input2{
    height: 100px;
    width: 800px;
  }
</style>
    <h1 class="title">Add a essay</h1>

    <form action="" method="post" name="essay_make">
      <div class="field">
        <label for="topic" class="label">topic</label>
        <div class="control">
          <input type="text" id= "topic" name="topic" class="input1" placeholder= "topic" required="required"/>
        </div>
      </div>

      <div class="field">
        <label for="essay" class="label">essay</label>
        <div class="control">
          <input type="text" id= "essay "name="essay" class="input2" placeholder= "comment" required= "required"/>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}
